.. _rm-system-requirements:

===================
System Requirements
===================

.. contents:: On this page
   :local:
   :backlinks: none
   :depth: 1
   :class: singlecol

The following page outlines the system requirements for using Relational 
Migrator. For additional details on where to run Relation Migrator, see 
:ref:`rm-colocation`.

Hardware
--------


Computer (can be a local desktop/labtop or remote server), 
Virtual Machine or Docker Container with at least 8GB of RAM 
(16GB or more recommended).

Network
-------

Deploy Relational Migrator to a location close to the destination 
databases to maximize bandwidth and minimize latency. For additional 
details, see :ref:`rm-colocation`.

Operating System
----------------

You can run Relational Migrator on one of the following operating systems:

- Windows 10 or higher
- Windows Server 2016 or higher
- MacOS 11 or higher (Intel or ARM)
- Linux (supported Debian or CentOS based distributions)
- Docker, running on a host supporting the Docker client

Web Browser
-----------

You can use Relational Migrator in any of the following web browsers:

- Chrome (or Chromium-based browsers)
- Edge
- Firefox 
- Safari

Kafka Deployments
-----------------

You can optionally use Kafka for long-running sync jobs. For details.
see :ref:`kafka-intro`.

Supported Databases
-------------------

See :ref:`supported-databases`.